<%= form_for @stable do |f| %>

  <% if @stable.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@stable.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @stable.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </p>

  <p>
    <%= f.label :phoneNo %><br>
    <%= f.text_field :phoneNo %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
