<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stable.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @stable.owner %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @stable.phoneNo %>
</p>

<p>
  <strong>Address:</strong>
  <%= @stable.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @stable.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @stable.comment %>
</p>

<%= link_to 'Edit', edit_stable_path(@stable) %> |
<%= link_to 'Back', stables_path %>
