<h1>My Horse</h1>

<p>
  <strong>Name:</strong>
  <%= @horse.name %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @client.name %>
</p>
<p>
  <strong>Stable:</strong>
  
</p>
<p>
  <strong>Comments about <%=@horse.name %>:</strong>
  <%= @horse.comment %>
</p>
<br><br>

<h2>Appointments</h2>
<%= render @horse.appointments %>

<!--<%= link_to 'Create appointment', new_horse_appointment_path(@horse) %>-->
<%= render 'appointments/form' %>
