<h2>Client Information</h2>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @client.comment %>
</p>

<h2>Horses</h2>
<%= render @client.horses %>
<p><p>
<h3>Add a horse:</h3>
<%= render 'horses/form' %>

<%= link_to 'Back', clients_path %>
