<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @client.comment %>
</p>

<%= link_to 'Back', clients_path %>