<p>
  <strong>Begins:</strong>
  <%= appointment.start %>
  <br>
  <strong>Ends:</strong>
  <%= appointment.end %>
  <br>
  <strong>Location:</strong>
  <%= appointment.location %>
  <br>
  <strong>Comment:</strong>
  <%= appointment.comment %>
  <%= link_to 'Edit', edit_horse_appointment_path(appointment.horse, appointment) %>
</p>
