<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @appointment.comment %>
</p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @appointment.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
